[user]
    name = andrew morton
    email = drewish@katherinehouse.com
[color]
    ui = auto # covers diff = true, status = auto, branch = auto
    interactive = auto
[push]
    default = simple
[branch]
    autosetuprebase = always
[core]
    whitespace = warn
    excludesfile = ~/.gitexcludes
[rerere]
    enabled = true
